@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "../../node_modules/slick-carousel/slick/slick.css";
@import "../../node_modules/slick-carousel/slick/slick-theme.css";
@import "tailwindcss";

@theme {
  --breakpoint-mm: 57.5rem;
  --breakpoint-xs: 30rem;
  --breakpoint-3xl: 110rem;
}

#footer-links a:hover {
  text-decoration: underline;
}

body {
  background-color: #f7fafc;
  font-family: "Montserrat", sans-serif;
}

.about-slider .slick-slide {
  margin: 0 8px;
  opacity: 0.5;
  transition:
    opacity 0.3s ease,
    filter 0.3s ease;
}

.about-slider .slick-slide.slick-center {
  opacity: 1;
}

.about-slider .slick-slide img {
  height: 240px;
  width: 100%;
  object-fit: cover;
}

.slick-dots li .slider-dot {
  background-color: #d9d9d9;
  border: none;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.slick-dots li.slick-active .slider-dot {
  background-color: #004c97;
}

@media (min-width: 768px) {
  .about-slider .slick-slide img {
    height: 500px;
    width: 80%;
    object-fit: cover;
    margin: 0 auto;
  }
  .slick-dots li .slider-dot {
    width: 12px;
    height: 12px;
  }
}
@media (min-width: 920px) {
  .about-slider .slick-slide img {
    height: 500px;
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .about-slider .slick-slide img {
    height: 600px;
    width: 100%;
  }
}
@media (min-width: 110rem) {
  .about-slider .slick-slide img {
    height: 600px;
    width: 100%;
    object-fit: cover;
  }
  .slick-dots li .slider-dot {
    width: 20px;
    height: 20px;
  }
}
