<footer>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2622.1160983668206!2d24.73789331059069!3d48.913180270657996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4730c3df6b2d0f5f%3A0x7f0dff3974f8e4b3!2z0IbQvdGC0LXQu9C60L7QvCDQotCcICLQotC10YXQvdC-0Joi!5e0!3m2!1suk!2sua!4v1783420557616!5m2!1suk!2sua"
    class="w-full h-[365px] 2xl:h-[547px] border-0"
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    title="Google Map Location"
  ></iframe>

  <div class="2xl:w-[1400px] 2xl:mx-auto 2xl:mb-20">
    <div class="w-full flex flex-col md:flex-row md:items-stretch max-w-full">
      <div
        id="footer-contacts"
        class="flex flex-col w-full md:w-1/2 bg-[#004C97E5] 2xl:-mt-[30px] 3xl:!justify-evenly 3xl:p-12 3xl:bg-[#004C97] flex flex-col text-[#fff] p-4 py-6 gap-5 [clip-path:polygon(30px_0,_100%_0,_100%_100%,_0_100%,_0_30px)]"
      >
        <h2 class="text-2xl font-semibold md:text-3xl 3xl:text-[32px]">
          Контактна інформація:
        </h2>
        <div class="flex flex-col gap-4">
          <div class="text-sm flex flex-row gap-3 2xl:text-lg">
            <img
              class="w-5"
              src="@@webRoot/assets/icons/LocationIcon.svg"
              alt=""
            />
            <span
              >вул. Микитинецька, 7а, м. Івано-Франківськ, 76002, Україна</span
            >
          </div>
          <div class="text-sm flex flex-row gap-3 2xl:text-lg">
            <img class="w-5" src="@@webRoot/assets/icons/Phone.svg" alt="" />
            <span>+38 0342 50 35 85</span>
          </div>
          <div class="text-sm flex flex-row gap-3 2xl:text-lg">
            <img class="w-5" src="@@webRoot/assets/icons/Mail.svg" alt="" />
            <span>office@intelkom.net.ua</span>
          </div>
        </div>

        <div class="flex flex-col gap-2">
          <h2 class="font-medium">Стежте за нами в мережах:</h2>
          <div class="flex flex-row gap-5">
            <img
              src="@@webRoot/assets/icons/meta/Facebook.svg"
              alt="Facebook"
            />
            <img src="@@webRoot/assets/icons/meta/Youtube.svg" alt="Youtube" />
            <img src="@@webRoot/assets/icons/meta/X.svg" alt="X" />
            <img
              src="@@webRoot/assets/icons/meta/Telegram.svg"
              alt="Telegram"
            />
            <img
              src="@@webRoot/assets/icons/meta/linkedin.svg"
              alt="Linkedin"
            />
          </div>
        </div>

        <form
          id="contact-form-mobile"
          class="js-contact-form bg-[#D5E6FA] rounded-xl py-7 px-5 flex flex-col gap-4 md:hidden mt-4"
          novalidate
        >
          <h2 class="text-[#004C97] font-semibold">Напишіть нам!</h2>

          <div class="relative inline-block w-full">
            <input
              type="text"
              name="name"
              placeholder=" "
              class="peer w-full rounded-lg border border-[#C8E8F8] bg-[#fff] p-3 text-black outline-none"
            />
            <span
              class="pointer-events-none absolute top-3 left-3 hidden text-gray-400 peer-placeholder-shown:block"
              >Ім'я <span class="text-red-500">*</span></span
            >
            <span
              class="js-error hidden text-red-500 text-xs mt-1 block"
            ></span>
          </div>

          <div class="relative inline-block w-full">
            <input
              type="tel"
              name="phone"
              placeholder=" "
              class="peer w-full rounded-lg border border-[#C8E8F8] bg-[#fff] p-3 text-black outline-none"
            />
            <span
              class="pointer-events-none absolute top-3 left-3 hidden text-gray-400 peer-placeholder-shown:block"
              >Телефон <span class="text-red-500">*</span></span
            >
            <span
              class="js-error hidden text-red-500 text-xs mt-1 block"
            ></span>
          </div>

          <div class="relative inline-block w-full">
            <input
              type="email"
              name="email"
              placeholder=" "
              class="peer w-full rounded-lg border border-[#C8E8F8] bg-[#fff] p-3 text-black outline-none"
            />
            <span
              class="pointer-events-none absolute top-3 left-3 hidden text-gray-400 peer-placeholder-shown:block"
              >Email <span class="text-red-500">*</span></span
            >
            <span
              class="js-error hidden text-red-500 text-xs mt-1 block"
            ></span>
          </div>

          <div class="relative inline-block w-full">
            <textarea
              name="message"
              placeholder=" "
              rows="4"
              class="peer h-25 w-full resize-none rounded-lg border border-[#C8E8F8] bg-[#fff] p-3 text-black outline-none"
            ></textarea>
            <span
              class="pointer-events-none absolute top-3 left-3 hidden text-gray-400 peer-placeholder-shown:block"
              >Повідомлення <span class="text-red-500">*</span></span
            >
            <span
              class="js-error hidden text-red-500 text-xs mt-1 block"
            ></span>
          </div>

          <button
            type="submit"
            class="p-3 rounded-lg text-white text-center bg-[#E90B0F] duration-150 hover:bg-[#b8080b] shadow-lg shadow-red-400"
          >
            <span>Зв'язатися з нами</span>
          </button>
        </form>
      </div>

      <form
        id="contact-form-desktop"
        class="js-contact-form hidden md:flex md:w-[50%] md:bg-[#F7FAFC] rounded-none bg-[#D5E6FA] p-6 justify-center"
        novalidate
      >
        <div class="w-full max-w-md flex flex-col gap-4 self-start">
          <h2 class="text-black font-semibold text-3xl">
            Маєте питання або пропозицію? Напишіть нам!
          </h2>

          <div class="flex flex-col mm:flex-row gap-4">
            <div class="relative inline-block w-full">
              <input
                type="text"
                name="name"
                placeholder=" "
                class="peer w-full rounded-lg border border-[#C8E8F8] bg-[#fff] p-3 text-black outline-none"
              />
              <span
                class="pointer-events-none absolute top-3 left-3 hidden text-gray-400 peer-placeholder-shown:block"
                >Ім'я <span class="text-red-500">*</span></span
              >
              <span
                class="js-error hidden text-red-500 text-xs mt-1 block"
              ></span>
            </div>

            <div class="relative inline-block w-full">
              <input
                type="tel"
                name="phone"
                placeholder=" "
                class="peer w-full rounded-lg border border-[#C8E8F8] bg-[#fff] p-3 text-black outline-none"
              />
              <span
                class="pointer-events-none absolute top-3 left-3 hidden text-gray-400 peer-placeholder-shown:block"
                >Телефон <span class="text-red-500">*</span></span
              >
              <span
                class="js-error hidden text-red-500 text-xs mt-1 block"
              ></span>
            </div>
          </div>

          <div class="relative inline-block w-full">
            <input
              type="email"
              name="email"
              placeholder=" "
              class="peer w-full rounded-lg border border-[#C8E8F8] bg-[#fff] p-3 text-black outline-none"
            />
            <span
              class="pointer-events-none absolute top-3 left-3 hidden text-gray-400 peer-placeholder-shown:block"
              >Email <span class="text-red-500">*</span></span
            >
            <span
              class="js-error hidden text-red-500 text-xs mt-1 block"
            ></span>
          </div>

          <div class="relative inline-block w-full">
            <textarea
              name="message"
              placeholder=" "
              rows="4"
              class="peer h-25 w-full resize-none rounded-lg border border-[#C8E8F8] bg-[#fff] p-3 text-black outline-none"
            ></textarea>
            <span
              class="pointer-events-none absolute top-3 left-3 hidden text-gray-400 peer-placeholder-shown:block"
              >Повідомлення <span class="text-red-500">*</span></span
            >
            <span
              class="js-error hidden text-red-500 text-xs mt-1 block"
            ></span>
          </div>

          <button
            type="submit"
            class="p-3 rounded-lg text-white text-center bg-[#E90B0F] duration-150 hover:bg-[#b8080b] shadow-lg shadow-red-400"
          >
            <span>Зв'язатися з нами</span>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div id="footer-links" class="bg-[#323232] text-white p-4 py-8">
    <div
      class="mx-auto flex flex-col gap-7 mm:flex-row-reverse md:justify-between mm:items-start 3xl:max-w-[1400px] 3xl:mx-auto"
    >
      <div
        class="flex gap-6 w-full md:self-center mm:w-[70%] flex-col md:justify-between mm:gap-0 md:flex-row"
      >
        <div class="flex flex-col gap-2 min-w-max">
          <a href="@@webRoot/about.html">
            <strong class="font-extrabold">Компанія</strong>
          </a>

          <a href="@@webRoot/about.html">Компанія</a>
          <a href="@@webRoot/news/index.html">Новини</a>
          <a href="@@webRoot/cooperation.html">Співпраця</a>
        </div>
        <div class="flex flex-col gap-2 min-w-max">
          <a href="@@webRoot/services/">
            <strong class="font-extrabold">Послуги</strong>
          </a>

          <a href="@@webRoot/services/plastic.html"
            >Лиття виробів з пластмаси</a
          >
          <a href="@@webRoot/services/metaloobrobka.html">Металообробка</a>
          <a href="@@webRoot/services/lyttia-tpa.html"
            >Промисловий дизайн та проєктування</a
          >
        </div>
        <div class="flex flex-col gap-2 min-w-max">
          <a href="@@webRoot/products/">
            <strong class="font-extrabold">Продукція</strong>
          </a>

          <a href="@@webRoot/products/toys.html">Іграшки ТМ “ТехноК”</a>
          <a href="@@webRoot/products/plastic.html">Вироби з пластмаси</a>
          <a href="@@webRoot/products/metaloobrobka.html">Вироби з металу</a>
        </div>
      </div>
      <div
        class="pt-6 border-t border-[#939496] flex flex-row justify-between items-center mm:flex-col mm:border-none mm:pt-0 gap-4"
      >
        <img
          src="@@webRoot/assets/icons/LogoGray.svg"
          class="w-29"
          alt="ІНТЕЛКОМ"
        />
        <p class="text-sm text-[#939496] mm:mt-2">© 2026 ТОВ «Інтелком»</p>
      </div>
    </div>
  </div>
</footer>

<script src="@@webRoot/js/vendor.js" defer></script>
<script src="@@webRoot/js/main.js" defer type="module"></script>
